body {
    color: #373A3C;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }
footer {
    font-family: "Lobster", sans-serif;
    }
.logo-ricomida {
    color: #dddddd;
    font-family:"Lobster", sans-serif;
    font-size: 32px;
    }
h1,h2,h3,h4,h5{
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    }
.toggle-btn{
    color: #777777;
}
.b-toggle-custom{
    border-color: #777777;
}
hr{
    border-color: #000000;
    border-width: 2px;
    opacity: 100;
}
/*Estilo carousel indicators*/
.carousel-indicators.custom-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #373A3C31;
    opacity: 0.5;
    }
.carousel-indicators.custom-indicators {
    bottom: -50px;
}
.carousel-indicators.custom-indicators .active {
    background-color:#373A3C ;
    opacity: 1;
}
.carousel-indicators.custom-indicators button:hover {
    background-color:#373A3C31;
    opacity: 0.99;
}
/*Termina el overlappig de las cards*/
.todas-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
} 
@media screen and (min-width: 470px) {
    .todas-cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 700px) {
    .todas-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 